<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RPG - MYTH</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav {
      width: 100%;
      height: 60px;
      position: fixed;
      background-color: white;
      z-index: 120;
    }

    .imagem {
      height: 80vh;
      width: 90%;
      background-size: cover;
      background-position: top;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      position: relative;
    }

    .img {
      border: 1px solid black;
      border-radius: 10px;

    }

    label {
      z-index: 120;
    }

    #menu {
      opacity: 0;
    }

    #indice {
      right: -80vw;
      z-index: 110;
      transition: 0.5s all;
      width: 40vw;
      height: 100vh;
      background-color: rgb(241, 241, 241);
      position: fixed;
      border-left: 1px solid rgb(0, 0, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 60px
    }
    a{
      color: black;
      text-decoration: none; 
    }
    #topicos {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid black;
      background-color: white;
      box-shadow: black 3px 3px 3px;
    }

    #protector {
      transition: 1s all;
    }
  </style>
</head>

<body style="height: 100vh; background-color: rgb(17, 17, 17);">
  <div id="indice">
    <br>
    <ul style="list-style: none; margin: 0; padding: 0; display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%;">
      <a href="/personagens"><div id="topicos">
        <li style="  font-size: 12px; font-weight: bolder; display: flex; flex-direction: column; align-items: center;">
          <img src="https://www.pngmart.com/files/22/Hollow-Knight-PNG-File.png" width="70">Personagens
        </li>
      </div>
    </a>
      <br>
      <div id="topicos">
        <li style="font-size: 12px; font-weight: bolder; display: flex; flex-direction: column; align-items: center;">
          <img src="https://cdn-icons-png.flaticon.com/512/2619/2619285.png" width="70">Atributos
        </li>
      </div>
      <br>
      <div id="topicos">
        <li style="font-size: 12px; font-weight: bolder; display: flex; flex-direction: column; align-items: center;">
          <img
            src="https://camo.githubusercontent.com/c865def977d499ef649c2d0d94f50c203761bdcf56a95c98fa6f33c350057029/68747470733a2f2f646963652d726f6c6c65722e6769746875622e696f2f646f63756d656e746174696f6e2f646963652d726f6c6c65722d6c6f676f2e706e67"
            width="70">Dados</li>
      </div>
    </ul>
  </div>
  </div>
  <div id="protector"
    style="opacity: 0; position: fixed; height: 100%; width: 100%; z-index: 70; background-color: rgba(0, 0, 0, 0.658);">

  </div>
  <nav>
    <div class="navbar" style="position: relative; width: 100%; height: 100%">
      <label for="menu"><img class="img" src="https://cdn.icon-icons.com/icons2/1776/PNG/512/multipleline_114207.png"
          width="50" height="50" style="padding: 10px; left: 10px; top: 5px; position: absolute"></label>
      <input type="checkbox" id="menu">
    </div>
  </nav>

  <br>
  <br>
  <br>
  <div class="imagem"
    style="background-image: url(https://i.pinimg.com/564x/87/97/19/879719e10f745d96bd58464ffe8b0910.jpg); background-position: top; border: 1px solid white;"
    id="img">
    <div
      style="border-radius: 10px; height: 100%; width: 100%; position:absolute; background-color: rgba(0, 0, 0, 0.521); display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <h1 style="color: white; font-size: 40px;">Fantasy - Mythic RPG</h1><code
        style="color: white;">2023 - Versão 1.0</code>
    </div>
  </div>
  <br>
  <code 
        style="color: white;">Aperte no menu e veja os tópicos!</code>
  <br>
  <script>
    imagens = ["url(https://i.pinimg.com/564x/b5/09/b2/b509b258d869731cb0580b5fa7eb0f29.jpg)",
      "url(https://i.pinimg.com/564x/54/31/99/54319955b3159284a35145cef08cb370.jpg)",
      "url(https://i.pinimg.com/564x/07/ce/36/07ce363cd1f92cee82fd2fab632dcf8f.jpg)",
      "url(https://i.pinimg.com/564x/dc/97/21/dc9721f90591a628a2d0d5c9da04d3ac.jpg)",
      "url(https://i.pinimg.com/564x/ee/83/87/ee83878be933d08b00b4aa86f17f760a.jpg)",
      "url(https://i.pinimg.com/564x/87/97/19/879719e10f745d96bd58464ffe8b0910.jpg)"];
    index = 0;
    console.log(imagens);
    setInterval(() => {
      let img = document.getElementById('img');

      if (imagens[index] == "url(https://i.pinimg.com/564x/54/31/99/54319955b3159284a35145cef08cb370.jpg)") {
        img.style.backgroundImage = imagens[index];
        img.style.backgroundPosition = "top"
        if (index == 5) {
          index = 0;
        } else {
          index++
        }
      } else if (imagens[index] == "url(https://i.pinimg.com/564x/b5/09/b2/b509b258d869731cb0580b5fa7eb0f29.jpg)") {
        img.style.backgroundImage = imagens[index];
        img.style.backgroundPosition = "center"
        if (index == 5) {
          index = 0;
        } else {
          index++
        }
      } else {
        img.style.backgroundImage = imagens[index];
        img.style.backgroundPosition = "top"
        if (index == 5) {
          index = 0;
        } else {
          index++
        }
      }
    }, 2500);
    let menu = document.getElementById('menu');
    menu.addEventListener('click', function () {
      if (menu.checked) {
        document.getElementById('indice').style.right = "0"
        document.getElementById('protector').style.opacity = 1
      } else {
        document.getElementById('indice').style.right = "-70vw"
        document.getElementById('protector').style.opacity = 0
      }
    })
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>